.leaderboard-profile .steam-avatar
{
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 15px;

    @media(max-width: $sm-width)
    {
        margin-left: auto;
        margin-right: auto;
    }

    @media(min-width: $xl-width)
    {
        width: 200px;
        height: 200px;
    }
}

.leaderboard-profile .steam-avatar .leaderboard-profile-social
{
    display: none;
}

.leaderboard-profile .steam-avatar:hover .leaderboard-profile-social
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #000000d6;
    border-radius: 100%;
    margin: 5px;

    & a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
} 


.leaderboard-profile .steam-avatar .profile-avatar
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.leaderboard-profile-details
{
    display: flex;
    flex-direction: column;
    padding: 35px;
    background: rgba(8, 4, 4,0.5);
    
    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.leaderboard-profile-extra
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(8, 4, 4);
        
    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

//
// Player Name + Rank
// 
.leaderboard-profile-rank
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    @extend .font-secondary-bold;

    order: -1;
    padding-bottom: 20px;

    @media(min-width: $md-width)
    {
        order: initial;
        padding-bottom: 0;
        text-align: left;
        flex-direction: row;
        align-items: flex-start;
    }


    @media(min-width: $xxl-width)
    {
        padding-left: 50px;
    }
}

// Position rank absolutely only in top stats
.leaderboard-profile-details .leaderboard-profile-rank
{
    @media(min-width: $sm-width) and (max-width: $lg-width)
    {
        position: absolute;
        right: 25px;
        top: 0;
    }
}

.leaderboard-profile-rank .player-badge
{
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.leaderboard-profile-rank .player-name 
{
    font-size: 1.5rem;
    @media(min-width: $md-width)
    {
        font-size: 2rem;
    }
}

.leaderboard-profile-rank .rank 
{
    line-height: 1;
    text-align: center;
    font-size: 2rem;
    
    @media(min-width: $md-width)
    {
        font-size: 5rem;
        text-align: right;
    }
}


// 
// Player Quick Stats, Games, Points, Wins.
// 
.leaderboard-profile-stats 
{
    display: flex;
    flex-direction: column;
    width: 100%;

    @media(min-width: $md-width)
    {
        flex-direction: row;
        justify-content: flex-end;
        max-width: 100%;
        margin-left: auto;
    }
    
    @media(min-width: $lg-width)
    {
        width: 55%;
    }
}

.leaderboard-profile-games > div
{
    padding-bottom: 20px;
}

.leaderboard-profile-stats .profile-stat
{
    @media(min-width: $md-width)
    {
        width: 33%;
        padding-top: 25px;
    }
}

h3.profile-stat-title
{
    font-weight: 300;
    margin: 0;
    font-size: initial;

    @media(min-width: $sm-width) and (max-width: $lg-width)
    {
        font-size: 1rem;
    }

    @media(min-width: $md-width)
    {
        font-size: 1.2rem;
    }
}

h2.profile-stat-title
{
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
}

.quick-stats-value
{
    font-size: 2rem;
    padding-top: 15px;
}

// 
// Overall quick stats
// 
.profile-stat.overall
{
    width: 260px;
}

.profile-stat.overall div 
{   
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-stat.overall .quick-stats-value
{
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 0;
}


// 
// Leaderboard profile recent games
// 
.leaderboard-profile-games
{
    display: flex;
    flex-direction: column;
    width: auto;
    
    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.leaderboard-profile .profile-stat 
{
    position: relative;
    padding: 20px;
    word-break: break-word;

    @media(min-width: $xl-width)
    {
        margin-right: 20px;
    }
}

@media(min-width: $lg-width)
{
    .leaderboard-profile .profile-stat:last-child::after
    {
        content: none;
    }
    
    .leaderboard-profile .profile-stat::after
    {
        content: "";
        width: 1px;
        background: #2d2d2d;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 80%;
    }
}

.last-5-games 
{
    display: flex;
    padding-top: 10px;
}

.leaderboard-profile-games .profile-stat.winstreaks 
{
    display: flex;
    flex-direction: column;

    & div { margin-right: 25px; }

    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}



// 
// Leaderboard profile faction stats
// 
.leaderboard-profile-factions 
{
    width: auto;
    max-width: 100%;
}

.faction-stats-list 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.faction-stats-list .faction 
{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.faction-stats-list .faction-image 
{
    width: 50px;
}

.faction-stats-list .faction-stats 
{
    padding: 15px;
}

.faction-stats-list .faction .profile-stat-title 
{
    margin-right: 10px;
}


// 
// Results badges
// 
.result 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 5px;
    @extend .font-secondary-bold;
}

.result.result--win 
{
    background: #0020ff;
    color: #ffffff;
}

.result.result--loss
{
    background: #212121;
}