
//
// Homepage Hero
.page-anniversary .hero 
{
    background: url("../images/homepage-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-anniversary .hero-content img 
{
    width: 500px;
    max-width: 100%;
}

.page-anniversary .hero-content 
{
    padding-top: calc(14vh + 125px);
    padding-bottom: calc(14vh + 80px);
}

.page-anniversary .hero::before
{
    content: "";
    position: absolute;
    background: #0000007a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media(min-width: $xl-width)
{
    .page-anniversary .hero 
    {
        background: url("../images/bg-anniversary.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-anniversary .hero::before
    {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("../images/ra-head-right.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .page-anniversary .hero::after
    {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/head-left.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
}


// 
// Intro

.page-anniversary .intro 
{
    background: #151514;
    padding: 50px 0;
}

.page-anniversary .intro .logos 
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    & div 
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    & img 
    {
        width: 450px;
        max-width: 100%;
    }
}

.page-anniversary .section-title 
{
    line-height: 1.3;

    & .highlight { font-size: 2.8rem; }
}

.page-anniversary .how-to-play .section-description 
{
    width: $md-width;
    max-width: 100%;
}

.page-anniversary .dates 
{
    background: #0c0c0c;
    padding-top: 25px;
    padding-bottom: 25px;
} 

.page-anniversary .dates p 
{
    color: $color-white;
}

.page-anniversary .events
{
    background: #070707;
}

.page-anniversary .event-boxes
{
    display: flex;
    flex-direction: column;
    
    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}

.page-anniversary .event-box 
{
    background: #212121;
    padding: 25px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
    flex-grow: 1;
    transition: ease-in background 250ms;
}

.page-anniversary .prizes
{
    background: #0c0c0c;
}

.page-anniversary .prizes p.lead 
{
    width: $md-width;
    max-width: 100%;
    margin: 0 auto;
}

.page-anniversary .prizes .prize-boxes 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media(min-width: $md-width)
    {
        flex-direction: row;
    }

    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 50px;

    & div 
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    & img 
    {
        width: 450px;
        max-width: 100%;
    }
}

.page-anniversary .sponsors
{
    background: #070707;
}

.page-anniversary .sponsor-logos
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    margin-bottom: 15px;

    & div 
    {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.page-anniversary .sponsor-logos .ea 
{
    width: 220px;
    max-width: 100%;
}

.page-anniversary .sponsor-logos .cnc-community 
{
    width: 250px;
    max-width: 100%;
}

.page-anniversary .names 
{
    display: flex;
    flex-wrap: wrap;
    width: $lg-width;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.page-anniversary .name 
{
    margin: 25px 15px;
    width: 200px;
    max-width: 100%;
}

.page-anniversary .name h4
{
    font-size: 1.2rem;
    margin: 0;
}

.page-anniversary .name p
{
    font-size: 1rem;
    color: #949494;
    font-weight: 600;
    margin: 0;
}

.page-anniversary .day 
{
    border-bottom: 2px dashed #353535;
    padding-bottom: 25px;
    padding-top: 25px;
}

.page-anniversary .day > h3 
{
    text-transform: uppercase;
    color: #18d4ff;
    font-size: 1.4rem;
}

.page-anniversary .about-prizes
{
    width: $md-width;
    max-width: 100%;
    margin: 0 auto;
}