
.page-game-detail .hero
{
    @extend %background-generic;
}

.page-game-detail .section.how-to-play-steps
{
    text-align: center;
    padding: 35px 0;
}

.page-game-detail .section.video-tutorial
{
    background: #000;
    text-align: center;
    padding: 35px 0;
}

.video-tutorial .page-content,
.video-tutorial h2
{
    padding-top: 0;
    margin-top: 0;
}

.section.how-to-play-help 
{
    & h2 { margin-bottom: 0; }
    background: #1f1f1f;
}