
//
// Homepage Hero
.page-homepage .hero 
{
    background: url("../images/homepage-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-homepage .hero::before
{
    content: "";
    position: absolute;
    background: #0000007a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media(min-width: $xl-width)
{
    .page-homepage .hero 
    {
        background: url("../images/homepage-header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-homepage .hero::before
    {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("../images/head-right.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .page-homepage .hero::after
    {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/head-left.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
}


// 
// How to play
.page-homepage .how-to-play 
{
    background: #1d1d1d;
    padding: 50px 0;
}

.page-homepage .section-title 
{
    line-height: 1.3;

    & .highlight { font-size: 2.8rem; }
}

.page-homepage .how-to-play .content 
{
    max-width: 100%;
}

.page-homepage .how-to-play .section-description 
{
    width: $md-width;
    max-width: 100%;
}


//
// Guide boxes
.how-to-guides 
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 50px auto;
}

.how-to-guides .guides 
{
    display: flex;
    padding: 36px 0;
    margin-top: 20px;
    margin-bottom: 20px
}

.how-to-guides .guides
{
    position: relative;
    width: 96vw;
    overflow: hidden;
}

.how-to-guides .swiper-container 
{
    width: 93%;
    height: 100%;
}