.leaderboard-profile-detail .leaderboard-header .player-stats
{
    font-size: 1.3rem;
}

.leaderboard-profile-detail .player-versus 
{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    border-radius: 10px;
    justify-content: space-between;

    &:before {
        content: "";
        background: linear-gradient(0deg, #0000001c, rgba(0, 0, 0, 0.51));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.leaderboard-profile-detail .player-versus .player 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    position: relative;
}

.leaderboard-profile-detail .player-versus .player-name 
{
    margin: 0;
    padding: 0 30px;
}