.page-leaderboard-profile .main-content 
{
    width: 92vw;
}

.page-leaderboard-profile main
{
    position: relative;
    z-index: 1;
}

.page-leaderboard-profile .leaderboard-profile-recent-games
{
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.page-leaderboard-profile .page-background
{
    padding-top: 150px;
    background-color: #070707;
    background-image: url('../images/leaderboard-profile/background.jpg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media(min-width: $md-width)
{
    .page-leaderboard-profile .leaderboard-search .leaderboard-bar 
    {
        margin-left: auto;
    }
}