.leaderboard-detail .top-ranks
{
    padding-top: 150px;
    padding-bottom: 150px;
}

.leaderboard-detail .player-search .form-input,
.leaderboard-detail .season-select select
{
    @extend .font-secondary;
    font-size: 1.1rem;
}

.leaderboard-detail.tiberian-dawn .player-search .btn-clear i
{
    color: $color-gold;
}

.leaderboard-detail.red-alert .player-search .btn-clear i
{
    color: red;
}

.leaderboard-detail .player-search .btn-clear:hover i
{
    color: white;
}

.leaderboard-detail.red-alert .player-search .form-input
{
    color: red;

    &:focus {
        border-color: red;
    }

    &::placeholder
    {
        color: red;
    }
}

.leaderboard-detail.tiberian-dawn .player-search .form-input
{
    color: $color-gold;
    &::placeholder
    {
        color: $color-gold;
    }
}


// Season select
.season-select select
{
    height: 50px;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-left: 15px;
}

.red-alert .season-select select
{
    background: rgb(39, 1, 2);
    border: 1px solid #800008;
    color: red;

    &::placeholder
    {
        color: red;
    }

    &:focus {
        outline: 0;
        border-color: $color-white;
    }
}

.tiberian-dawn .season-select select
{
    background: rgb(13, 11, 6);
    border: 1px solid $color-gold;
    color: $color-gold;

    &::placeholder
    {
        color: $color-gold;
    }

    &:focus {
        outline: 0;
        border-color: $color-white;
    }
}

.leaderboard-detail .ranks
{
    display: none;

    @media(min-width: $lg-width)
    {
        display: block;
    }
}

.leaderboard-detail.red-alert .player-search label 
{
    color: #ff100a;
}

.leaderboard-detail.tiberian-dawn .player-search label 
{
    color: $color-gold;
}

.leaderboard-detail .player-search label 
{
    @extend .font-secondary;
    font-size: 1.3rem;
}

.leaderboard-detail.red-alert .player-search .form-input
{
    background: rgba(175, 0, 11, 0.2);
    border: 1px solid #800008;
}

.leaderboard-detail.tiberian-dawn .player-search .form-input
{
    background: rgba(21, 14, 3, 0.4);
    border: 1px solid $color-gold;
}

.leaderboard-detail.red-alert .page-background
{
    background: url('../images/leaderboard/background-ra.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.leaderboard-detail.tiberian-dawn .page-background
{
    background: url('../images/leaderboard/background-td.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.leaderboard-header 
{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    @media(min-width: $xl-width)
    {
        padding-bottom: 120px;
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }
}

.leaderboard-header .section-description 
{
    color: white;
}

.leaderboard-header .buttons 
{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media(min-width: $xl-width)
    {
        flex-direction: row;
        justify-content: flex-start;
        align-items: normal;
    }
}

.leaderboard-header .buttons .btn 
{
    margin: 5px;
    align-items: center;
}

.leaderboard-header > .title 
{
    width: 100%;

    @media(min-width: $xl-width)
    {
        width: 50%;
    }
}

.leaderboard-header .logo 
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    order: -1;

    @media(min-width: $xl-width)
    {
        width: 40%;
        order: 1;
    }
    
    @media(min-width: $xxl-width)
    {
        width: 50%;
        align-items: center;
        justify-content: flex-end;
    }
}

.leaderboard-header .section-title 
{
    @media(min-width: $xxl-width)
    {
        font-size: 3.5rem;
    }
}

.leaderboard-detail .ranks-top-15 
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media(min-width:$xl-width)
    {
        flex-direction: row;
    }
}

.leaderboard-detail.tiberian-dawn .btn-theme 
{
    @extend .btn-primary;
}

.leaderboard-detail.red-alert .btn-theme 
{
    @extend .btn-primary;
}

.top-rank-box 
{
    background: rgba(0, 0, 0, 0.17);
    flex-grow: 1;
    margin: 5px;
    border-radius: 4px;
}

.top-rank-box.rank-type-2 .player-rank,
.top-rank-box.rank-type-3 .player-rank 
{
    background: #1f0000bf;
}

.leaderboard-detail.tiberian-dawn .top-rank-box.rank-type-2 .player-rank,
.leaderboard-detail.tiberian-dawn .top-rank-box.rank-type-3 .player-rank 
{
    background: #020202bf;
}

.leaderboard-detail .listings 
{
    display: flex;
    position: relative;
}

.leaderboard-detail .rank.rank-type.general 
{
    position: absolute;
    top: 0;
}

.leaderboard-detail .rank.rank-type
{
    position: absolute;
    top: 0;
}

.leaderboard-detail .rank.rank-type.colonel 
{
    top: calc(16 * 54px);
}

.leaderboard-detail .rank.rank-type.colonel 
{
    top: calc(16 * 56px + 200px);
}

.leaderboard-detail .rank.rank-type.major
{
    top: calc(56px * 16);
}

// End skins

.leaderboard-detail.red-alert .other-rank-box .results,
.leaderboard-detail.tiberian-dawn .other-rank-box .results
{
    background: none;
}

.leaderboard-detail.red-alert .other-rank-box .results .player-rank
{
    background: #0e0203;
    border: 1px solid #400d0d;
}

.leaderboard-detail.tiberian-dawn .other-rank-box .results .player-rank
{
    background: #000000;
    border: 1px solid rgba(39, 39, 39, 0.63);
}

.leaderboard-detail .pagination .page-link 
{
    background: rgba(19, 19, 19, 0.2);
    font-weight: 600;
}

.red-alert.leaderboard-detail .note 
{
    color: #f50000;
}

.leaderboard-detail .note 
{
    color: #8c8c8c;
    font-size: 1rem;
    font-weight: 600;
}

.search-results p 
{
    color: $color-white;
}

.leaderboard-detail .statistics
{
    @media(min-width: $xl-width)
    {
        margin-left: auto;
        margin-right: 0;
    }
}

.leaderboard-detail.leaderboard-profile-detail .statistics
{
    margin-left: auto;
    margin-right: auto;

    @media(min-width: $xl-width)
    {
        margin-right: 0;
    }
}