
//
// Official news 
.news-listings 
{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.news-listings .news-item 
{
    // background: #1b1b1b
    box-shadow: 5px 2px 9px 3px #00000078;
}

.news-listings .articles 
{
    padding-top: 15px;

    @media(min-width: $md-width)
    {
        padding-top: 50px;
    }
}

.news-listings .section-description
{
    width: $md-width;
    max-width: 100%;
    margin-left: 0;
}

.view-all
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}

.community-listings 
{
    &:before { content: none; }
}