.page-remasters .hero h1 
{
    @extend %small-h1;
}

.page-remasters .feature-cta 
{
    position: relative;
    padding: 15px;
    text-align: center;

    @media(min-width: $md-width)
    {
        padding: 45px 0;
    }
    
    @media(min-width: $lg-width)
    {
        padding: 75px 25px;
    }
}

.page-remasters .feature-cta .buttons 
{
    flex-direction: column;

    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}
.page-remasters .feature-cta .buttons .btn 
{
    margin: 5px;
}

.page-remasters .feature-cta:before
{
    content: "";
    background: #00000045;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
}

.page-remasters .feature-cta .feature-text 
{
    @extend .font-primary-bold;

    p { 
        color: #fff;
        text-transform: uppercase;
    }
}

.page-remasters .feature-box .featured-logos
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.page-remasters .feature-box  .featured-logos .logos
{
    display: flex;
    justify-content: flex-start;
    width: 265px;
    justify-content: space-between;

    & img  {
        height: 80px;
        max-width: 100%;
    }
}

.page-remasters .feature-box 
{
    align-items: flex-start;
}

.page-remasters .feature-box .buttons 
{
    flex-direction: column;

    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}

.page-remasters .feature-box .feature-banner 
{
    margin: 50px auto;
}

.page-remasters .feature-box .feature-banner, 
.page-remasters .feature-box .feature-text 
{
    margin: 0 auto;
}

.page-remasters .section-buy 
{
    padding-top: 50px;
}

.workshop-introduction .feature-box .feature-text
{
    padding-left: 0;
}

.workshop-introduction .feature-box .feature-logo
{
    @media(min-width: $md-width)
    {
        padding-top: 60px;
    }
    padding-bottom: 40px;
}

.page-remasters .feature-box .section-description
{
    width: auto;
}

.page-remasters .section-about .feature-banner
{
    display: flex;
    align-items: center;
    justify-content: center;

    order: -1;

    @media(min-width: $xl-width)
    {
        order: 1;
    }

    padding-right: 0;
    padding-bottom: 0;
    padding-top: 25px;
}

.page-remasters .section-about .buttons
{
    justify-content: center;

    @media(min-width: $xl-width)
    {
        justify-content: flex-start;
    }
}

.page-remasters .section-about .feature-text 
{
    padding-right: 0;
}