.page-remasters .hero h1 
{
    @extend %small-h1;
}

.page-remasters .feature-cta 
{
    position: relative;
    padding: 15px;
    text-align: center;

    @media(min-width: $md-width)
    {
        padding: 45px 0;
    }
    
    @media(min-width: $lg-width)
    {
        padding: 75px 25px;
    }
}

.page-remasters .feature-cta .buttons 
{
    flex-direction: column;

    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}
.page-remasters .feature-cta .buttons .btn 
{
    margin: 5px;
}

.page-remasters .feature-cta:before
{
    content: "";
    background: #00000045;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
}

.page-remasters .feature-cta .feature-text 
{
    @extend .font-primary-bold;

    p { 
        color: #fff;
        text-transform: uppercase;
    }
}

.page-remasters .feature-box .featured-logos
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.page-remasters .feature-box .feature-text 
{
    flex-basis: 50%;
}

.page-remasters .feature-box  .featured-logos .logos
{
    display: flex;
    justify-content: flex-start;
    width: 265px;
    justify-content: space-between;

    & img  {
        height: 80px;
        max-width: 100%;
    }
}

.page-remasters .stream-listings 
{
    background-color: #000000;
}

.workshop-introduction .feature-box 
{
    padding-bottom: 50px;
    padding-top: 20px;
}

.page-remasters .section-buy 
{
    padding-top: 50px;
    padding-bottom: 130px;
}

.page-remasters .section-buy .section-title
{
    margin: 0;
}