.articles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articles .article-item
{
    width: 100%;
}

.article-item .buttons
{
    display: flex;
}

.articles .article-item 
{
    width: 90vw;
    margin-top: 35px;

    @media(min-width: $sm-width)
    {
        width: 70vw;
    }

    @media(min-width: $md-width)
    {
        width: 42vw;
        margin-top: 0;
    }

    @media(min-width: $xl-width)
    {
        width: 40vw;
    }

    @media(min-width: $xxl-width)
    {
        width: 27vw;
    }
}

