
.article .date
{
    padding: 5px 0;
}

.article-meta .date .read-time
{
    font-size: 0.8rem;
}

.article-meta .date .published 
{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.1rem;
    font-weight: 600;
}

.article-meta .meta
{
    display: flex;
    flex-direction: column;
}

.article-meta .date .read-time
{
    margin-top: 0;
    font-size: 1rem;
}

.article-meta .tags
{
    display: flex;
    flex-wrap: wrap;
}

.article-meta .tags > div 
{
    display: flex;
    align-items: center;
    padding: 2px 13px;
    background: #000;
    color: $color-secondary;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 5px;
    font-weight: 800;
    margin-bottom: 8px;
}
