.article-item .article-info 
{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    z-index: 10;
    padding: 15px 35px;
}

.article-item .description 
{
    font-size: 1rem;
}

.article-item .btn-readmore
{
    @extend .btn-transparent;
    @extend .btn-sm;

    margin-left: auto;
    margin-right: 0;

    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    
    &:hover,&:focus {
        background: transparent;
        border: 1px solid $color-gold;
        color: $color-gold;
    }
}

.article-item .title
{
    font-size: 1.8rem;
}

.article-item .image 
{
    margin-bottom: -30px;
    padding: 15px;
}

.article-item .image 
{
    transition: filter ease-in-out 300ms;
}

.article-item .image:hover 
{
    filter: contrast(120%);
}

.article-item .article-type 
{
    position: absolute;
    right: 0;
    top: -30px;

    width: 68px;
    height: 68px;
    
    background: $color-gold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background ease-in-out 300ms;

    &:hover,&:focus {
        background: darken($color-gold, 10%);
    }
}