.feature-box 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.feature-box .feature-logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    & img { 
        max-height: 170px;
    }
}

.feature-box .feature-video 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-box .feature-video .embed-iframe 
{
    width: 100%;
    @media(min-width: $lg-width)
    {
        width: 70%;
    }
}

.feature-box .buttons 
{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    
    @media(min-width: $lg-width)
    {
        padding-top: 40px;
        flex-direction: row;
        align-items: flex-start;
    }
}

.feature-box .buttons .btn
{
    margin: 5px 10px 5px 0;
}

.feature-box
{
    flex-direction: column;
    
    @media(min-width: $xl-width)
    {
        flex-direction: row;
    }
}

.feature-box .feature-text,
.feature-box .feature-banner
{
    width: 100%;
    padding-bottom: 20px;
    text-align: center;

    @media(min-width: $sm-width)
    {
        width: 80%;
    }
    @media(min-width: $xl-width)
    {
        text-align: left;
    }
}

.feature-box .section-description 
{
    margin: 15px auto;
    
    @media(min-width: $xl-width)
    {
        width: 550px;
        margin: 15px 0 auto;
    }

    max-width: 100%;
}

.feature-box .feature-text
{
    margin-left: 0;
    margin-right: 0;

    @media(min-width: $xl-width)
    {
        padding-left: 80px;
    }
}

@media(min-width: $md-width)
{
    .feature-box .feature-text,
    .feature-box .feature-banner
    {
        padding-right: 30px;
    }
}
