.feature-box 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.feature-box .feature-logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    & img { 
        max-height: 170px;
    }
}

.feature-box .feature-video 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-box .feature-video .embed-iframe 
{
    width: 100%;
    @media(min-width: $lg-width)
    {
        width: 70%;
    }
}

.feature-box .buttons 
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    
    @media(min-width: $lg-width)
    {
        padding-top: 40px;
        flex-direction: row;
        align-items: flex-start;
    }

    & .btn { margin: 5px 10px; }
}

.feature-box
{
    flex-direction: column;
    
    @media(min-width: $xl-width)
    {
        flex-direction: row;
    }
}

.feature-box .feature-text,
.feature-box .feature-banner
{
    width: 100%;
    padding-bottom: 20px;

    @media(min-width: $sm-width)
    {
        width: 80%;
    }

    @media(min-width: $xl-width)
    {
        width: auto;
    }
}

.feature-box .section-description 
{
    width: 550px;
    margin: 15px auto;
    max-width: 100%;
}

.feature-box .buttons
{
    margin-top: 0;
    padding-top: 10px;

    & .btn { margin-left: 0;}
}

.feature-box .feature-text
{
    margin-left: 0;
    margin-right: 0;
}

.feature-box .feature-text,
 .feature-box .feature-banner
{
    padding-right: 30px;
    padding-left: 30px;
}
