.gdpr-cookie-notice
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    width: 100%;
    padding: 15px;
    background: #190202;

    @media(min-width: $lg-width)
    {
        height: 100px;
    }
}

.gdpr-cookie-notice > .container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.gdpr-cookie-notice p
{
    color: $color-white;
    margin-bottom: 15px;
    
    @media(min-width: $lg-width)
    {
        width: 50%;
        margin: 0;
    }
}

.gdpr-cookie-notice .btn-cta 
{
    display: flex;
    justify-content: space-around;
}

.gdpr-cookie-notice .btn-cta button 
{
    margin-left: 15px;
}
