.hamburger .hamburger-container 
{
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hamburger .hamburger-container 
{
    span:nth-child(1)
    {
        width: 100%;
    }

    span:nth-child(2)
    {
        width: 70%;
    }

    span:nth-child(3)
    {
        width: 40%;
    }
}

.hamburger .hamburger-container span
{
    display: block;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 12px;
    transition: width ease 300ms;
}

.hamburger:focus .hamburger-container span
{
    width: 100%;
}

