
.site-header 
{
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #0000001c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.site-header .main-content
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.site-header nav
{
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site-header nav .social-links 
{
    margin-left: auto;
    margin-right: 0;
}

.site-header nav .social-links a 
{
    margin-left: 5px;
    margin-right: 5px;
}

// Mobile menu
@media(min-width: $xxl-width)
{
    .site-header .btn-menu
    {
        visibility: hidden;
    }

    .site-header nav 
    {
        visibility: visible;
    }
}


@media(min-width: $md-width) and (max-width: $lg-width)
{
    .site-header
    {
        margin: 0 auto;
    }
}

@media(min-width: $sm-width)
{
    .site-header .main-content
    {
        flex-direction: row;
    }
}

.site-header .logo
{
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 1.5rem;
    margin-left: 0;
    min-width: 80px;

    & a {
        display: flex;
        align-items: center;
    }
    
    & img 
    {
        height: 30px;
    }
}

.site-header .content
{
    text-align: center;
    margin: 0 auto;
}

.site-header nav 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    @extend .font-primary-bold;
    color: $color-white;
    margin: 0 auto;
    position: absolute;
}

@media(min-width: $sm-width)
{
    .site-header nav 
    {
        position: relative;
        margin: 0;
        margin-left: 40px;
    }
}

.site-header nav a 
{
    display: inline-block;
    font-size: 1.1rem;
    color: $color-white;
    text-transform: uppercase;
    padding: 10px; 
    margin-left: 16px;
    margin-right: 16px;

    position: relative;

    @media(max-width: $md-width)
    {
        transition: none;
    }

    @media(min-width: $md-width)
    {
        &:hover,&:focus { 
            color: #ffffff;
        }
    }
}

.site-header nav a.active
{
    color: $color-gold;
}