.site-header
{
    display: block;
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    transition: all 350ms ease-in-out;
}

.site-header[hidden="true"]
{
    transform: translateY(-100%);
}

.site-header[isAtTopOfThePage="false"]
{
    background: #000;
}

.site-header .logo-burger-container
{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media(min-width: $xl-width)
    {
        width: unset;
    }
}

.site-header .logo
{
    color: $color-white;
    margin-left: 0;
    z-index: 1;
    padding: 15px;

    width: 110px;

    & a {
        display: block;
    }

    & img 
    {
        max-width: 100%;
    }

    @media(min-width: $xl-width)
    {
        position: relative;
        width: 130px;
    }
}

 .site-header .notification 
{
    @extend %notification-balloon;
}

%notification-balloon 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;

    position: absolute;
    width: 24px;
    height: 24px;
    top: -6px;
    right: -12px;

    background: #008617;
    border-radius: 100%;
    font-size: 11px;
    color: #ffffff;
    opacity: 0;
    text-align: center;
}

@keyframes scaleNotificationPop 
{
    0%{ 
        transform: scale(0); 
        opacity: 0; 
    }
    50% {
        transform: scale(1.5) rotate(40deg);
    }
    100% { 
        transform: scale(1) rotate(0deg);
        opacity: 1; 
    }
}

.site-header .notification.pop-in 
{
    animation-delay: 400ms;
    transform-origin: center;
    animation: scaleNotificationPop 500ms forwards; 
}

.site-header .main-content
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media(min-width: $xl-width)
    {
        flex-direction: row;
    }
}


//
// Mobile Nav styling
.site-header.nav-open
{
    background: #1b1b1b;
    height: 100%;
    overflow-y: scroll;
}

.site-header .mobile-navigation 
{
    display: flex;
    flex-direction: column;
}

.site-header .mobile-navigation .navbar-items
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.site-header .mobile-navigation .title 
{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 600;
}

.site-header .mobile-navigation .category 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid #292929;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.site-header .mobile-navigation .category .nav-link
{
    position: relative;
    padding: 9px;
    background: #292929;
    border-radius: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    color: silver;
}

.site-header .mobile-navigation .social-links 
{
    width: 265px;
    margin: 10px auto 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

@keyframes animateIn 
{
    0%{ 
        transform: scaleY(0); 
        opacity: 0; 
    }
    100% { 
        transform: scaleY(1);
        opacity: 1; 
    }
}

.site-header.nav-open
{ 
    box-shadow: 0px -1px 9px 14px #000000d9;
}

.site-header.nav-closed .mobile-navigation
{
    display: none;
} 

.site-header.nav-open .mobile-navigation
{
    display: flex;
    max-width: 640px;
    animation: animateIn 350ms forwards;
    transform-origin: top center;
}




// 
// Hide mobile menu 

@media(min-width: $xl-width)
{
    .site-header .mobile-navigation,
    .site-header .navburger
    {
        display: none;
    }
}




// 
// Tablet/ Desktop Nav styling
.site-header .main-navigation
{
    display: none;
}

.site-header nav.main-navigation  
{
    @extend .font-primary-bold;
}

.site-header .main-navigation .nav-item-hide-on-small
{
    display: none;
}

.site-header nav.main-navigation .social-links 
{
    margin-left: auto;
    margin-right: 0;
}

@media(min-width: $xl-width)
{
    .site-header .main-navigation 
    {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .site-header nav.main-navigation .social-links a
    {
        margin: 0 .5rem;

        &:hover { color: $color-gold; }
    }

    .site-header nav.main-navigation  
    {
        position: absolute;
        right: 0;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $color-white;
        margin: 0 auto;
        position: relative;
        margin-left: 40px;
    }
}

.navbar-items .nav-item.nav-item-show-more-menu
{
    display: none;
}

@media(min-width: $xl-width) and (max-width: $xxl-width)
{
    .navbar-items .nav-item.nav-item-show-more-menu
    {
        display: flex;
    }
}

@media(min-width: $xxl-width)
{
    .site-header .main-navigation .nav-item-hide-on-small,
    .site-header .main-navigation .nav-item-hide-on-small.social-links
    {
        display: flex;
        flex-basis: 18%;
        justify-content: space-between;
    }
}

.nav-item-show-more-menu.open .dropdown-container
{
    width: 320px;
    left: -10vw;
}