.leaderboard-item 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background ease-in-out 250ms;
    @extend .font-secondary-bold;
}

.leaderboard-item .detailed-stats 
{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.leaderboard-item .detailed-stats div 
{
    flex-basis: 100px;
    font-size: 0.9rem;
    color: #f1dedf;
    @extend .font-secondary;
}

.tiberian-dawn .detailed-stats div 
{
    color: #d6d6d6;
}

.leaderboard-item .player-rank-name .rank 
{
    font-weight: 600;
    font-size: 2rem;
    @extend .font-secondary-bold;
    width: auto;
    padding: 0;
    margin-right: 25px;
}

.player-rank-name 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media(max-width: $lg-width)
{
    .leaderboard-item
    {
        position: relative;
    }

    .leaderboard-item div
    {
        flex-basis: auto;
        width: auto;
    }

    .leaderboard-item .stats
    {
        display: flex;
        font-size: 0.9rem;
        width: 100%;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
    }

    .leaderboard-item .player-rank-name > h3,
    .leaderboard-item .player-rank-name .rank
    {
        font-size: 1.2rem;
        word-break: break-all;
    }

    .leaderboard-item .player-name 
    {
        padding-right: 15px;
        width: 100%;
    }
}

@media(max-width: $sm-width)
{
    .leaderboard-item .stats
    {
        font-size: 0.8rem;
    }
    .leaderboard-item .player-name > h3
    {
        font-size: 1rem;
    }
}

.tiberian-dawn .leaderboard-item:nth-child(odd) 
{
    background: #2f2f2fba;
    &:hover { background: #7d7d7dba; }
}

.tiberian-dawn .leaderboard-item
{
    background: rgba(27, 27, 27, 0.7);
    border: 1px solid rgba(43, 43, 43, 0.9);
    &:hover {background: #96969666; }
}

.red-alert .leaderboard-item
{
    background: #3e010461;
    border: 1px solid #960000;
    &:hover { background: #790006; }
}

.red-alert .leaderboard-item:nth-child(odd)
{
    background: #5d000591;
    &:hover { background: #790006; }
}

.leaderboard-item.gold 
{
    border: 1px solid #ffb300;
    background: #ffc8005e;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.red-alert .leaderboard-item.gold:hover 
{
    background: #963d01;
}

.tiberian-dawn .leaderboard-item.gold:hover 
{
    background: #da9008a6;
}

.leaderboard-item .player-badge 
{
    width: 50px;
    margin: 0 15px;
    padding: 5px 0;
    color: #ff9900;
}

@media(min-width: $lg-width)
{
    .leaderboard-item .player-name > h3
    {
        font-size: 1.2rem;
        padding: 0 5px;
        margin: 0;
    }
}

.leaderboard-item .rank 
{
    padding: 15px 25px;
    font-size: 1rem;
    text-align: center;

    @media(min-width:$lg-width)
    {
        text-align: left;
    }
}

.leaderboard-item .details 
{
    width: 100%;
    display: flex;
    align-items: center;
}

.leaderboard-item.gold .wins,
.leaderboard-item.gold .losses,
.leaderboard-item.gold .points,
.leaderboard-item.gold .played
{
    color: gold;
    font-weight: 600;
}