.leaderboard-listings
{
    width: 100%;
    @media(min-width: $lg-width)
    {
        width: calc(98% - 150px);
    }
    margin: 0 0 auto auto;
}

.listings.is-searching .leaderboard-listings 
{
    width: 100%;
}

.leaderboard-listings .headers 
{
    display: none;
    @media(min-width: $lg-width)
    {
        display: flex;
        padding: 15px 5px;
        border-radius: 4px;
    }
}

.leaderboard-listings .stats
{
    @media(max-width: $lg-width)
    {
        display: flex;
    }
}

.red-alert .leaderboard-listings .headers
{
    background: #1f0002;
    border: 1px solid #540005;
    color: #ff1818;
}

.tiberian-dawn .leaderboard-listings .headers
{
    background: #0e0e0e;
    border: 1px solid #565656;
    color: silver;
}

.leaderboard-listings .headers div 
{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.leaderboard-listings .headers .rank 
{
    padding-left: 15px;
}

.red-alert .leaderboard-listings
{
    background: url('../images/leaderboard/background-ra.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tiberian-dawn .leaderboard-listings
{
    background: url('../images/leaderboard/background-td.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.statistics-list
{
    display: flex;
    flex-direction: column;

    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}

.statistics .statistics-section-title 
{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.red-alert .statistics .statistics-section-title 
{
    color: #ff1818;
}

.leaderboard-bar 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media(min-width: $md-width)
    {
        flex-direction: row;
    }
}

.statistics 
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.statistic-detail 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
    width: 180px;
}

.statistic-detail .value 
{
    font-size: 2.5rem;
    color: $color-gold;
}

.statistic-detail .title
{
    font-size: 1rem;
    color: $color-white;
    font-weight: 500;

    & span { 
        opacity: 0.5;
        font-size: 0.9rem;
    }
}

.red-alert .statistic-detail
{
    background: rgba(39,1,2,0.2);
    border: 1px solid #800008;
    color: #ff1818;
}

.tiberian-dawn .statistic-detail
{
    background: rgba(14,14,14,0.4);
    border: 1px solid #565656;
    color: silver;
}

.tiberian-dawn .statistic-detail .value
{
    color: $color-green;
}