.news-item 
{
    background: #191919;
    transition: transform ease-in-out 250ms;
}

.news-item .image-link 
{
    margin-bottom: 15px;
    display: block;
    background: black;
    border-radius: 4px;
    text-align: center;
}

.news-item .article-info 
{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    z-index: 10;
    padding: 15px 35px;
}

.news-item .btn-readmore
{
    @extend .btn-transparent;
    @extend .btn-sm;

    i { 
        font-size: 14px;
    }
    
    margin-left: auto;
    margin-right: 0;

    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    
    &:hover,&:focus {
        background: transparent;
        border: 1px solid $color-gold;
        color: $color-gold;
    }
}

.news-item .title
{
    font-size: 1.8rem;
}

.news-item .image 
{
    padding: 15px;
}

.news-item .image 
{
    transition: filter ease-in-out 300ms;
}

.news-item .image:hover 
{
    filter: contrast(120%);
}

.news-item.no-image 
{
    order: 1;
}