.post-body p,
.post-body ul,
.post-body ol
{
    color: $color-white;
}

.post-body strong  
{
    color: $color-secondary;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body .lead
{
    color: #ece3e3;
    margin-bottom: 10px;
    font-weight: 600;
}

.post-body a 
{
    color: #a98692;
    &:hover { color: $color-white; }
}