
.twitch-streams 
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.twitch-streams .items-wrap
{
    width: 100%;
}

@media(min-width: $xl-width)
{
    .twitch-streams .twitch-embed 
    {
        margin-right: 15px;
        flex-basis: 20vw;
        max-width: 100%;
        flex-grow: 0;
    }
}

.twitch-streams .stream-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #101010;
    padding: 15px 20px;
}

.twitch-streams .description 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;

    & p { margin: 0; font-size: 1.1rem; }
}

.twitch-games-navbar
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: center;
}

.twitch-games-navbar .twitch-game-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #0e0e0e;
    color: #545454;
    border-radius: 10px;
    margin: 8px;
    position: relative;
    @extend .font-secondary;
    text-transform: uppercase;
}

.twitch-games-navbar .count 
{
    background: #3f423e;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: -9px;
    border-radius: 100%;
    padding: 9px;
    width: 5px;
    height: 5px;
    font-size: 10px;
    color: #fff;
}

.twitch-games-navbar .twitch-game-link.live 
{
    background: #151515;
    color: $color-white;
    transition: color ease-in-out 300ms;
}

.twitch-games-navbar .twitch-game-link.live .count 
{
    background: #00c156;
    color: $color-white;
}

.twitch-games-navbar .twitch-game-link.active
{
    background: #00c156;
    color: $color-white;
}

.stream-listings 
{
    background-color: #080808;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.stream-header .stream-title > h3
{
    font-size: 1.3rem;
    margin: 0;
}

.stream-header .viewer-count 
{
    padding: 5px;
    background: green;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}