.workshop-item 
{
    transition: transform ease-in-out 250ms;
}

.workshop-item .file-data
{
    display: flex;
    justify-content: space-between;
}

.workshop-item:hover 
{
    transition: transform ease-in-out 250ms;
}

.workshop-item .workshop-info 
{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    z-index: 10;
    padding: 10px 20px;
}

.workshop-item .tags
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.workshop-item .tags>div
{
    font-size: 0.85rem;
}

.workshop-item .description *
{
    font-size: 1rem;
}

.workshop-item .title 
{
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.workshop-item .image 
{
    padding: 15px;
    background: #131313c4;
}

.workshop-item .image 
{
    transition: filter ease-in-out 300ms;
}

.workshop-item .image:hover 
{
    filter: contrast(120%);
}

.workshop-item .workshop-type 
{
    position: absolute;
    right: -10px;
    top: -20px;

    width: 60px;
    height: 60px;
    
    background: $color-gold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background ease-in-out 300ms;

    &:hover,&:focus {
        background: darken($color-gold, 10%);
    }
}

.workshop-item .workshop-type i 
{
    font-size: 1.4rem;
}

.workshop-item .workshop-meta .meta
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workshop-item .file-item
{
    background: #232323;
    color: silver;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    & i { 
        font-size: 1.1rem;
        color: #969696;
        padding-left: 5px;
        padding-right: 10px;
    }
}

.workshop-item .file-item .icon-heart
{
    color: #ea0000;
}

.workshop-item .file-item .icon-check
{
    color: #49d630;
}

.workshop-item .image-link 
{
    display: flex;
    align-items: center;
    justify-content: center;
}