.workshop-items
{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media(min-width: $md-width)
{
    .workshop-items .swiper-button-prev 
    {
        left: -50px;
    }
    
    .workshop-items .swiper-button-next 
    {
        right: -50px;
    }
}