.workshop-listings
{
    padding-bottom: 20px;
    padding-top: 20px;
}

.workshop-listings .section-title 
{
    padding-bottom: 15px;
}

@media(min-width: $md-width)
{
    .workshop-items .swiper-button-prev 
    {
        left: -50px;
    }
    
    .workshop-items .swiper-button-next 
    {
        right: -50px;
    }
}