.workshop-item 
{
    @extend .news-item;
}

.workshop-item .author .avatar.steam
{
    background-size: 100%;
}

.workshop-item .file-data
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.workshop-item .post-preview 
{
    padding: 15px;
}