.btn 
{
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background ease 250ms;
    @extend .font-primary-bold;
    font-size: $font-size-sm;
    text-transform: uppercase;
    padding: 18px 20px;

    @media(min-width: $md-width)
    {
        padding: 18px 40px;
    }
}

.btn:disabled
{
    opacity: 0.4;
    cursor: not-allowed;

    &:hover, &:focus, &:active
    {
        opacity: 0.4;
    }
}

.btn-primary
{
    background: $color-white;
    color: #000;

    &:hover,
    &:focus 
    {
    }
}

.btn-secondary
{
    background: $color-white;

    &:focus,
    &:hover
    {
        color: $color-white;
    }
}

.btn-solid
{
    background: $color-white;
    color: #000;
    border: 1px solid transparent;

    &:focus,
    &:hover
    {
        background: transparent;
        color: $color-white;
        border: 1px solid $color-white;
    }
}

.btn-transparent 
{
    background: transparent;
    
    &:focus
    {
        background: #f1f1f1;
    }
}

.btn-transparent.btn-white
{
    background: transparent;
    color: $color-white;

    &:hover { 
        background: $color-white;
        color: #000;
    }
}

.btn-outline 
{
    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;

    &:hover { 
        background: $color-white;
        color: #000;
    }
}

.btn-icon 
{
    display: flex;
    align-items: center;
}

.btn-icon i 
{ 
    padding: 0 7px; 
}

.btn-xs { font-size: $font-size-xs; }
.btn-sm { 
    padding: 14px 22px;
    font-size: $font-size-sm; 
}
.btn-md { font-size: $font-size-md; }
.btn-lg { font-size: $font-size-lg; }
.btn-xl { font-size: $font-size-xl; }

.btn-menu
{
    background: transparent;
    color: $color-white;
    font-size: 15px;
    padding: 18px;
}

@media(min-width: $md-width)
{
    .button-group .btn:first-child
    {
        margin-right: 15px;
    }
}