.btn 
{
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background ease 250ms;
    @extend .font-primary-bold;
    font-size: $font-size-sm;
    text-transform: uppercase;
    padding: 1rem 1.25rem;

    @media(min-width: $md-width)
    {
        padding: 1rem 2.5rem;
    }
}

.btn:disabled
{
    opacity: 0.4;
    cursor: not-allowed;

    &:hover, &:focus, &:active
    {
        opacity: 0.4;
    }
}

.btn-primary
{
    box-shadow: none;
    background: #56480a40;
    color: $color-gold;
    border-color: $color-gold;
    transition: ease-in-out 250ms background;
    align-items: center;

    &:hover,
    &:focus 
    {
        background: lighten($color-gold, 1%);
        color: #ffffff;
        border-color:lighten($color-gold, 1%);
    }
}

.btn-secondary
{
    background: $color-white;
    color: #000;
    border:  2px solid #fff;

    &:focus,
    &:hover
    {
        @extend .btn-solid;
    }
}

.btn-solid
{
    background: $color-white;
    color: #000;
    border: 2px solid transparent;

    &:focus,
    &:hover
    {
        background: transparent;
        color: $color-white;
        border: 2px solid $color-white;
    }
}

.btn-transparent 
{
    background: transparent;
    
    &:focus
    {
        background: transparent;
    }
}

.btn-transparent.btn-white
{
    background: transparent;
    color: $color-white;

    &:hover { 
        background: $color-white;
        color: #000;
    }
}

.btn-outline 
{
    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;

    &:hover { 
        background: $color-white;
        color: #000;
    }
}

.btn-icon 
{
    display: flex;
    align-items: center;
}

.btn-icon i 
{ 
    padding: 0 7px; 
}

.btn-icon 
{
    padding-left: 30px;
    padding-right: 20px;
}

.btn-icon i 
{ 
    margin-left: 15px;
    margin-right: 0;
    padding-right: 0;
}

.btn-xs { font-size: $font-size-xs; }
.btn-sm { 
    padding: 14px 22px;
    font-size: $font-size-sm; 
}
.btn-md { font-size: $font-size-md; }
.btn-lg { font-size: $font-size-lg; }
.btn-xl { font-size: $font-size-xl; }

.btn-play 
{
    padding: 15px;
    padding: 28px 50px;
    background: #101010e0;
    border-radius: 10px;

    &:hover {
        background: #efc634;
        color: #fff;
    }

    .icon-play:before { 
        font-size: 2.5rem;
    }
}

.btn-menu
{
    background: transparent;
    color: $color-white;
    font-size: 15px;
    padding: 18px;
}

@media(min-width: $md-width)
{
    .button-group .btn:first-child
    {
        margin-right: 15px;
    }
}

.btn-theme-red 
{
    border-color: red;
    background: #a90000e6;
    text-shadow: none;
    color: #fff;
    &:hover { 
        border-color: #ff0000;
        color: #ff0000;
        background: #2700007a;
    }
}

.btn-theme-yellow 
{
    background: #000000b8;
    border-color: #f6941e;
    color: #f6941e;

    &:hover { 
        background: #9c550075;
        border-color: #ff8b00;
        color: #ffffff;
    }
}

.btn-theme-green 
{
    border-color: #06f300;
    color: #06f300;

    &:hover { 
        border-color: #06ff00;
        color: #ffffff;
        background: #012700d9;
    }
}

.btn-theme-blue 
{
    color: #00b9da;
    border-color: #00b9da;

    &:hover { 
        color: #ffffff;
        border-color: #00b9da;
        background: #006a7dc7;
    }
}