
$fontPath: "../fonts/";

$font-open-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;

.font-primary-light
{
    font-family: $font-open-sans;
    font-weight: 300;
}

.font-primary
{
    font-family: $font-open-sans;
    font-weight: 500;
}

.font-primary-bold
{
    font-family: $font-open-sans;
    font-weight: 700;
}

.font-secondary-light
{
    font-family: $font-oswald;
    font-weight: 300;
}

.font-secondary 
{
    font-family: $font-oswald;
    font-weight: 500;
}

.font-secondary-bold
{
    font-family: $font-oswald;
    font-weight: 700;
}

@font-face {
    font-family: "cnc-community";
    src:  url($fontPath + "cnc-community.eot?ug6p5n");
    src:  url($fontPath + "cnc-community.eot?ug6p5n#iefix") format("embedded-opentype"),
    url($fontPath + "cnc-community.ttf?ug6p5n") format("truetype"),
    url($fontPath + "cnc-community.woff?ug6p5n") format("woff"),
    url($fontPath + "cnc-community.svg?ug6p5n#cnc-community") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cnc-community' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: $icon-sm-size;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-article:before 
{
    content: "\e900";
}

.icon-link:before 
{
    content: "\e901";
}

.icon-twitter:before 
{
    content: "\e902";
}

.icon-steam:before 
{
    content: "\e903";
}

.icon-origin:before 
{
    content: "\e907";
}

.icon-reddit:before 
{
    content: "\e904";
}

.icon-discord:before 
{
    content: "\e905";
}

.icon-facebook:before 
{
    content: "\e906";
}

.icon-petroglyph::before
{
    content: "\e90e";
}

.icon-chevron-up-solid
{
    &:before
    {
        content: "\e908";
    } 
}

.icon-play:before 
{
    content: "\e909";
}

.icon-heart:before 
{
    content: "\e90a";
}

.icon-eye:before 
{
    content: "\e90b";
}

.icon-globe:before 
{
    content: "\e90c";
}

.icon-check:before
{
    content: "\e90d";
}


// Icon sizes
.icon-xs
{
    font-size: $icon-xs-size;
}

.icon-sm
{
    font-size: $icon-sm-size;
}

.icon-md
{
    font-size: $icon-md-size;
}

.icon-lg
{
    font-size: $icon-lg-size;
}