

%icon-svg
{
    display: block;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-link 
{
    @extend %icon-svg;
    background-image: url("../images/icons/link.svg");
}

.icon-article 
{
    @extend %icon-svg;
    background-image: url("../images/icons/article.svg");
}

.icon-xs
{
    font-size: $icon-xs-size;
}

.icon-sm
{
    font-size: $icon-sm-size;
}

.icon-md
{
    font-size: $icon-md-size;
}

.icon-lg
{
    font-size: $icon-lg-size;
}

.icon-xl
{
    font-size: $icon-xl-size;
}

.icon-tripadvisor:before 
{
    content: "\e900";
}

.icon-facebook:before 
{
    content: "\e901";
}

.icon-close:before 
{
    content: "\e902";
}

.icon-email:before 
{
    content: "\e903";
}

.icon-phone:before 
{
    content: "\e904";
}