//
// Variables
// lowercase hyphen-delimited


//
// Font sizings

$font-size-base: 1rem; 

$font-size-xs: ($font-size-base * 0.8);
$font-size-sm: ($font-size-base * 0.9);
$font-size-md: ($font-size-base * 1.15);
$font-size-lg: ($font-size-base * 1.25);
$font-size-xl: ($font-size-base * 1.5);


$icon-xs-size: $font-size-xs * 1.5;
$icon-sm-size: $font-size-sm * 2;
$icon-md-size: $font-size-md * 3;
$icon-lg-size: $font-size-lg * 4;
$icon-xl-size: $font-size-xl * 5;



// Generic 
$color-white: #fff;
$color-secondary: #adadad;
$color-gold: #ffb300;

$color-green: #22d600;
$color-green-400: #7bf264;


// Player faction colours
$color-game-yellow: #eaf100;
$color-game-blue: #0028f5;
$color-game-red: #b60000;
$color-game-green: #008600;
$color-game-orange: #e44d00;
$color-game-teal: #00a6e1;
$color-game-purple: #4100df;
$color-game-pink: #f235cd;


//
// Breakpoints
// Example use
// @media (min-width: $sm-width) { }

$sm-width: 567px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;
$xxxl-width: 1600px;


%background-green {
    background: url("../images/bg-green.jpg");
    background-repeat: repeat-x;
    background-position: top center;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}

%background-purple {
    background: url("../images/bg-purple.jpg");
    background-repeat: repeat-x;
    background-position: top center;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}

%background-generic 
{
    background: url("../images/bg-generic.jpg");
    background-repeat: repeat-x;
    background-position: top center;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}

%background-grey
{
    background: url("../images/bg-grey.jpg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 100%;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}

%background-grey-alt
{
    background: url("../images/bg-grey-alt.jpg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 100%;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}

%background-red 
{
    background: url("../images/bg-generic-red.jpg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: cover;
}

%background-yellow 
{
    background: url("../images/bg-generic-yellow.jpg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: cover;
}

%background-dark-alt 
{
    background: url("../images/bg-static.jpg");
    background-repeat: repeat-x;
    background-position: top center;

    @media(min-width: $xl-width)
    {
        background-position: top right;
    }
}


.page.theme-red-alert .btn-primary,
.page.theme-red-alert-2 .btn-primary,
.page.theme-red-alert-3 .btn-primary
{
    @extend .btn-theme-red;
}

.page.theme-tiberian-sun .btn-primary,
.page.theme-renegade .btn-primary,
.page.theme-generals .btn-primary
{
    @extend .btn-theme-yellow;
}

.page.theme-command-and-conquer-3 .btn-primary
{
    @extend .btn-theme-green;
}

.page.theme-command-and-conquer-4 .btn-primary
{
    @extend .btn-theme-blue;
}
        
.visible-lg
{
    display: none;
    @media(min-width: $lg-width)
    {
        display: block;
    }
}

.hidden-lg
{
    display: block;
    @media(min-width: $lg-width)
    {
        display: none;
    }
}

.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90,
.col-10
{
    flex-basis: 100%;
    width: 100%;
}

@media(min-width: $md-width)
{
    .col-10
    {
        flex-basis: 10%;
    }
    
    .col-20
    {
        flex-basis: 20%;
    }
    
    .col-30
    {
        flex-basis: 30%;
    }
    
    .col-40
    {
        flex-basis: 40%;
    }
    
    .col-50
    {
        flex-basis: 50%;
    }
    
    .col-60
    {
        flex-basis: 60%;
    }
    
    .col-70
    {
        flex-basis: 70%;
    }
    
    .col-80
    {
        flex-basis: 90%;
    }
    
    .col-90
    {
        flex-basis: 90%;
    }
    
    .col-100
    {
        flex-basis: 100%;
    }
}
    

//
// Animations

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slide-bottom 
{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}
