@media (min-width: $md-width) {
    .page.page-9-bit-armies-a-bit-too-far {
        background-image: url(../images/9bit/hero-4.jpg);
    }

    .page.page-9-bit-armies-a-bit-too-far.hero-bg-4 {
        background-image: url(../images/9bit/hero-4.jpg);
    }

    .page.page-9-bit-armies-a-bit-too-far.hero-bg-3 {
        background-image: url(../images/9bit/hero-3.jpg);
    }

    .page.page-9-bit-armies-a-bit-too-far.hero-bg-2 {
        background-image: url(../images/9bit/hero-2.jpg);
    }

    .page.page-9-bit-armies-a-bit-too-far.hero-bg-1 {
        background-image: url(../images/9bit/hero-2.jpg);
    }
}

.page.page-9-bit-armies-a-bit-too-far {
    @media (min-width: $md-width) {
        background-size: cover;
        background-attachment: fixed;
    }
}

.page.page-9-bit-armies-a-bit-too-far .hero {
    background: transparent;
    background-image: url(../images/9bit/hero-1.jpg);
    background-size: cover;

    @media (min-width: $md-width) {
        background: transparent;
    }
}

.page.page-9-bit-armies-a-bit-too-far .page-background {
    padding-top: 2rem;
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-player-listings {
    padding: 1rem;
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-hero .leaderboard-logo {
    max-width: 100%;
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-hero {
    background: rgb(0 17 39 / 89%);
    border-radius: 10px;
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-player-listings {
    background: rgb(0 17 39 / 89%);
}

.page.page-9-bit-armies-a-bit-too-far footer {
    background: #000;
}

.page.page-9-bit-armies-a-bit-too-far .hero .btn {
    background: #173081d6;
}

.page.page-9-bit-armies-a-bit-too-far .btn {
    border-color: rgb(0 20 255);
    background: #173081;
    color: #ffffff;
    &:hover,
    &:focus {
        border-color: rgb(0 20 255);
        background: #0b1a49;
        color: rgb(255, 255, 255);
    }
}

// Table styles
.page.page-9-bit-armies-a-bit-too-far .leaderboard-listings .headers {
    --bg-color: #03051a52;
    --border-color: #03051a52;
    --text-color: #fff;
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-listings .leaderboard-table-row:nth-child(odd) {
    --bg-color: rgb(6 3 26 / 52%);
    --bg-hover-color: #1f0cc96b;
    --bg-border-color: rgb(6 3 26 / 52%);
}

.page.page-9-bit-armies-a-bit-too-far .leaderboard-listings .leaderboard-table-row {
    --bg-color: rgb(211 214 255 / 7%);
    --bg-hover-color: #1f0cc96b;
    --bg-border-color: rgb(211 214 255 / 7%);
}

.page.page-9-bit-armies-a-bit-too-far .rank-history {
    display: flex;
    align-items: center;
}
