.page-category .hero h1 
{
    @extend %small-h1;
}

.page-category .boxes 
{
    display: flex;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
}

.page-category .box
{
    width: 300px;    
    margin: 0 15px;
}

.page-category .box::after
{
    height: 100%;
}

.page-category .section.where-to-get
{
    text-align: center;
    padding: 35px 0;
}

.page-category .section.how-to-play 
{
    background: #101010;
    text-align: center;
    padding: 35px 0;
}

.page-category .section .boxes
{
    padding: 35px 0;    
}

.page-category .mods
{
    padding: 35px 0;
}

.page-category .section-buy 
{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    @media(min-width: $xl-width)
    {
        text-align: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.page-category .feature-box .buttons
{
    justify-content: center;

    @media(min-width: $xl-width)
    {
        justify-content: flex-start;
    }
}

.page-category .section-buy .section-title
{
    margin: 0;
}