html,
body {
    background: #000;
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body.nav-open {
    overflow: hidden;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    color: $color-white;
}

.default-transition {
    transition: ease-in all 300ms;
}

main {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto 60px auto;
}

.page:before {
    content: "";
    background: linear-gradient(180deg, black, transparent);
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    z-index: 1;
}

p,
ul,
li {
    color: $color-secondary;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    &:hover {
        // transition: color ease 250ms;
    }
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.3;

    @media (min-width: $xl-width) {
        font-size: 3rem;
    }
}

.section-title .light {
    @extend .font-secondary-light;
}

.section-title .grey {
    @extend .font-secondary-light;
    color: silver;
}

.section-title > small > a {
    font-size: 20px;
    text-decoration: underline;
    color: #efbb04;
}

.section-description {
    margin: 10px auto 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

ol li,
ul li {
    padding: 8px 6px;
    word-break: break-word;
}

ol,
ul {
    padding-left: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

@media (max-width: $md-width) {
    .hidden-xs {
        display: none;
    }
}

.content {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer .copyright-links {
    margin-bottom: 20px;
}

footer a {
    color: #949494;
    padding-right: 15px;
    font-size: 0.9rem;

    &:hover {
        color: $color-white;
    }
}

footer small {
    color: #909090;
    padding: 5px;
    display: block;
}

footer .logo {
    padding: 15px;
}

footer .logo img {
    max-width: 100%;
    height: 50px;
}

.content-fluid {
    width: 100%;
}
.page {
    width: 100%;
    flex-grow: 1;
}

.button-group {
    display: flex;
    flex-direction: column;

    button {
        margin-left: 15px;
        margin-right: 15px;
    }

    @media (min-width: $sm-width) {
        button:first-child {
            margin-left: 0;
        }
        button:last-child {
            margin-right: 0;
        }
    }

    @media (min-width: $md-width) {
        flex-direction: row;
    }
}

.content-container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.animate-fade-in {
    animation: fade-in 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

li > pre,
p > pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #2a0067;
    color: $color-white;
    border-radius: 5px;
    font-weight: 800;
}

li > code,
p > code {
    padding: 5px 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 5px;
    background-color: #2a0067;
    color: $color-white;
    font-weight: 800;
}

.coming-soon {
    padding: 150px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-content {
    width: 85vw;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    color: #f1b838;
    outline: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 3.5rem;
    color: #bdbdbd;
}

.section {
    background-color: #121212;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.section-green {
    background-color: #080808;
    @extend %background-green;
}

.section-purple {
    background-color: #0b060c;
    @extend %background-purple;
}

.section-grey {
    background-color: #010101;
    @extend %background-grey;
}

.section-grey-alt {
    background-color: #0a0505;
    @extend %background-grey-alt;
}

.section-black {
    background-color: #000;
}

.section-black-alt {
    background: #080505;
}

.section-dark-alt {
    background-color: #030304;
    @extend %background-dark-alt;
}

.section-dark-grey {
    background-color: #080808;
}

// Temp
.admin-nav {
    display: block;
    color: white;
    height: 50px;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000000cc;
    bottom: 0;
}

.admin-nav h5,
.admin-nav p {
    margin: 0;
}

.admin-nav .logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-content {
    text-align: left;
}

.page-content.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.page-content a {
    color: $color-gold;
    text-decoration: underline;
}

.page-content {
    padding: 35px 0;
    width: $md-width;
    margin: 0 auto;
    max-width: 100%;
}

.page-content-with-editor 
{
    padding: 35px 0;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
}

.page-content-without-editor{
    padding: 35px 0;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
}

.embed-iframe {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.visible-md {
    display: none;
}

@media (min-width: $md-width) {
    .visible-md {
        display: inline-block;
    }
}

.feature-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
}

.feature-cta .feature-image {
    position: absolute;
}

.feature-cta .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .btn {
        margin: 0 5px;
    }
}

.feature-cta .feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flex {
    display: flex;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags > div {
    display: flex;
    align-items: center;
    padding: 2px 13px;
    background: #000;
    color: $color-secondary;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 5px;
    font-weight: 800;
    margin-bottom: 8px;
}

.view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}

footer .notice {
    font-size: 0.7rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    color: #9e9e9e;
}

.items-wrap-old {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.items-wrap-old .item {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    align-self: stretch;
    position: relative;
    background: #1b1b1b;

    width: 100%;
    margin-bottom: 20px;

    @media (min-width: $md-width) {
        width: 45%;
        margin-right: 20px;
    }
    @media (min-width: $lg-width) {
        width: 47%;
    }
    @media (min-width: $xl-width) {
        width: 30%;
    }
}

.items-wrap-old .item .button {
    background: rgba(31, 31, 31, 0.92);
    transition: ease-in-out 350ms background;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;

    &:hover {
        background: #000;
    }

    & .btn-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon-link {
        font-size: 1.5rem;
    }
}

.items-wrap {
    width: 100%;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.items-wrap .item {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.items-wrap .item .button {
    background: rgba(31, 31, 31, 0.92);
    transition: ease-in-out 350ms background;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;

    &:hover {
        background: #000;
    }

    & .btn-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon-link {
        font-size: 1.5rem;
    }
}

.meta-info {
    display: flex;
    flex-wrap: wrap;
}

.meta-info > div {
    color: #8c8c8c;
    border-radius: 4px;
    font-size: 0.8rem; //i know...
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
}

// .items-wrap .item .title,
// .items-wrap .item .description
// {
//     padding: 0 5px;
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

.items-wrap .item.no-image,
title {
    padding-right: 35px;
}

.items-wrap .item .description * {
    font-size: 1rem;
    line-height: 1.8;
}

ul.pagination {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.pagination li {
    list-style: none;
    display: inline-block;
}

.pagination .page-link {
    background: #131313;
    padding: 9px;
    border-radius: 4px;
}

.pagination .page-item.active {
    color: $color-gold;
}

.red-alert .pagination .page-item.active {
    color: #ff0006;
}

.pagination .page-item.disabled {
    color: #3c3c3c;
}

.quote {
    font-style: italic;
    font-size: 1.5rem;
    color: silver;
    padding: 15px;
}

.quote p {
    margin: 0;
}

.clear-filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-filters > a {
    padding: 10px 15px;
    background-color: #171717;
    color: #717070;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $md-width;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.center-box .buttons {
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pagination .btn {
    margin: 5px;
}

.player-search {
    text-align: center;
    @media (min-width: $sm-width) {
        text-align: left;
    }
}

.player-search .form-input {
    @media (min-width: $sm-width) {
        width: 400px;
    }
    max-width: 100%;
}

.player-search .search-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $lg-width) {
        flex-direction: row;
    }
}

.search-input {
    position: relative;
}

.search-input .btn-clear {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.search-input .btn-clear:hover * {
    color: $color-white;
}

.search-input .btn-clear .icon-close-alt {
    font-size: 1rem;
}

.avatar {
    border: 2px solid #484848;
}

.avatar.ppmsite,
.avatar.ppm {
    border: 2px solid #e5e0a0;
    background-image: url("../images/sites/thumbnails/ppm.png");
}

.avatar.cncnz {
    border: 2px solid #ffc100;
    background-image: url("../images/sites/thumbnails/cncnz.png");
}

.news-item .author .avatar.w3dhub {
    background-image: url("../images/sites/w3dhub.gif");
    background-size: 100%;
}

.avatar.steam {
    background-image: url("../images/sites/thumbnails/steam.png");
}

.avatar.reddit {
    background-image: url("../images/sites/thumbnails/reddit.png");
}

.red-alert .page-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/leaderboard-profile/head-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    background-position: top right;
}

.tiberian-dawn .page-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/leaderboard-profile/head-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    background-position: top left;
}

.site-notification {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000000;
    background-size: cover;
    background-position: bottom;
    z-index: 1000;
}

.site-notification .logo {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;

    @media (min-width: $lg-width) {
        display: block;
    }
}

.site-notification-title {
    color: #fffbf0;
    text-align: left;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: $lg-width) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.site-notification .logo img {
    height: 100px;
}

.site-notification .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $md-width) {
        flex-direction: row;
    }
}

.site-notification-donate {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $md-width) {
        margin-right: 0;
    }
}

.site-notification .site-notification-close {
    @media (min-width: $md-width) {
        margin-right: 0;
    }

    & i {
        color: $color-white;
    }
}

.stats-filter {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search-dropdown {
    max-height: 400px;
}


.guide-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;

    .btn {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.online-guide-box {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.how-to-play-steps
{
    padding-top: 0;
}

.figure.image 
{
    text-align: center;
}