html, body
{   
    background: #000;
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    color: $color-white;
}

.default-transition 
{
    transition: ease-in all 300ms;
}

main
{
    width: 100%;
    margin: 0 auto 60px auto;
}

.page:before 
{
    content: "";
    background: linear-gradient(180deg, black, transparent);
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    z-index: 1;
}

p {
    color: $color-secondary;
}

a {
    text-decoration: none;
    &:hover { 
        // transition: color ease 250ms;
    }
}

.section-title 
{
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.3;
}

.section-title .light 
{
    @extend .font-secondary-light;
}

.section-title .grey 
{
    @extend .font-secondary-light;
    color: silver;
}

.section-title > small > a
{
    font-size: 20px;
    text-decoration: underline;
    color: #efbb04;
}

.section-description 
{
    margin: 10px auto 10px;
}

.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

ol li,
ul li 
{
    padding: 8px 6px;
    word-break: break-word;
}

ol, 
ul {
    padding-left: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

img 
{
    max-width: 100%;
}

.hidden 
{
    display: none;
}

@media(max-width: $md-width)
{
    .hidden-xs 
    {
        display: none;        
    }
}

.content 
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer 
{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer .copyright-links
{
    margin-bottom: 20px;
}

footer a 
{
    color: #949494;
    padding-right: 15px;
    font-size: 0.9rem;

    &:hover { color: $color-white;}
}

footer small 
{
    color: #404040;
    padding: 5px;
    display: block;
}

footer .logo 
{
    padding: 15px;
}

footer .logo img 
{
    max-width: 100%;
    height: 50px;
}

// @media (min-width: $sm-width)
// {
//     .content 
//     {
//         max-width: $sm-max-width;
//         padding-left: 0;
//         padding-right: 0;
//     }
// }

// @media (min-width: $md-width)
// {
//     .content 
//     {
//         max-width: $md-max-width;
//     }
// }

// @media (min-width: $lg-width)
// {
//     .content 
//     {
//         max-width: $lg-max-width;
//     }
// }

// @media (min-width: $xl-width)
// {
//     .content
//     {
//         max-width: $xl-width;
//     }
// }

.content-fluid { width: 100%; }
.page 
{
    width: 100%;
    height: 100%;
}

.button-group
{
    display: flex;
    button { margin-left: 15px; margin-right: 15px;}
    
    @media(min-width: $sm-width)
    {
        button:first-child { margin-left: 0;}
        button:last-child { margin-right: 0;}
    }
}

.content-container
{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.animate-fade-in 
{
    animation: fade-in 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

li > pre,
p > pre
{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #2a0067;
    color: $color-white;
    border-radius: 5px;
    font-weight: 800;
}

li > code,
p > code
{
    padding: 5px 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 5px;
    background-color: #2a0067;
    color: $color-white;
    font-weight: 800;
}

.coming-soon 
{
    padding: 150px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-content 
{
    width: 85vw;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
}

.swiper-button-prev:focus,
.swiper-button-next:focus
{
    color: #f1b838;
    outline: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after
{
    font-size: 3.5rem;
    color: #bdbdbd;
}

.section 
{
    background-color: #121212;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.section-green 
{
    background-color: #080808;
    @extend %background-green;
}

.section-purple 
{
    background-color: #0b060c;
    @extend %background-purple;
}

.section-grey 
{
    background-color: #010101;
    @extend %background-grey;
}

// Temp 
.admin-nav 
{
    display: block;
    color: white;
    height: 50px;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000000cc;
    bottom: 0;
}

.admin-nav h5, 
.admin-nav p 
 { margin: 0 ; }
 
.admin-nav .logged-in 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-content 
{
    text-align: left;
}

.page-content.center 
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.page-content a
{
    color: $color-gold;
    text-decoration: underline;
}

.page-content
{
    padding: 35px 0;  
    width: $md-width;
    margin: 0 auto;
    max-width: 100%;  
}

.embed-iframe 
{
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.visible-md 
{
    display: none;
}

@media(min-width: $md-width)
{
    .visible-md 
    {
        display: inline-block;
    }
}

.feature-cta 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
}

.feature-cta .feature-image 
{
    position: absolute;
}

.feature-cta .buttons 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .btn { 
        margin: 0 5px; 
    }
}

.feature-cta .feature-text 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flex 
{
    display: flex;
}

.tags
{
    display: flex;
    flex-wrap: wrap;
}

.tags > div 
{
    display: flex;
    align-items: center;
    padding: 2px 13px;
    background: #000;
    color: $color-secondary;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 5px;
    font-weight: 800;
    margin-bottom: 8px;
}

.view-all
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}

footer .notice 
{
    font-size: 0.7rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    color: #403f3f;
}

.items-wrap
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items-wrap .item 
{
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    align-self: stretch;
    margin: 0 10px 25px;

    @media(min-width: $lg-width)
    {
        flex-basis: 45%;
    }

    @media(min-width: $xl-width)
    {
        flex-basis: 35%;
    }

    @media(min-width: $xxl-width)
    {
        flex-basis: 22%;
    }
}
