// Icon animation for when in and out of hover state
.nav-item-dropdown .icon-dropdown:before {
    @extend .icon-chevron-up-solid;
}

.nav-item .nav-dropdown-contents .category .title {
    @extend .font-primary-bold;
    & a {
        @extend .font-primary-bold;
        padding: 0;
        margin: 0;
    }
}

.nav-link:hover {
    color: $color-gold;
    & a {
        color: $color-gold;
    }
}

@media (min-width: $lg-width) {
    // Container for navbar
    .navbar-items {
        display: flex;
        flex-grow: 1;
    }

    // Div container for each link (nav item)
    .navbar-items .nav-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    // Links within the nav item
    .navbar-items .nav-link {
        display: flex;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
        z-index: 10;
    }

    .nav-item-dropdown .nav-link {
        margin-right: 0;
    }

    // Dropdown container
    .nav-item .nav-dropdown-contents {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        opacity: 0;
        transition: all ease-in 350ms;
        transform-origin: top;
        opacity: 0;
    }

    // Make visible when nav link is made open
    .nav-item.open .nav-dropdown-contents {
        display: flex;
        z-index: 1;
    }

    @keyframes animateIn {
        0% {
            transform: scaleY(0);
            opacity: 0;
        }
        100% {
            transform: scaleY(1);
            opacity: 1;
        }
    }

    .nav-item.open .nav-dropdown-contents {
        animation: animateIn 350ms forwards;
    }

    // Category title within dropdown items
    .nav-item .nav-dropdown-contents .category {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
    }

    .nav-item .nav-dropdown-contents .category .title {
        color: #fbfbfb;
        text-transform: uppercase;
        padding: 5px 0;
        border-bottom: 1px solid #565656;
        margin-bottom: 10px;
    }

    .nav-item .nav-dropdown-contents .category a {
        font-weight: 400;
        color: #e8e8e8;
        padding: 3px 0;

        &:hover {
            color: $color-gold;
        }
    }

    // Transition for opening dropdown
    .nav-item-dropdown .nav-dropdown-contents {
        opacity: 0;
        transition: all ease-in 150ms;
        transition-delay: 50ms;
    }

    .nav-item-dropdown.open .nav-dropdown-contents {
        padding-top: 60px; // Offset for navbar height
        opacity: 1;
    }

    // Main styling for the background of dropdown container
    .navbar-items .dropdown-container {
        display: flex;
        flex-grow: 1;
        background: #1b1b1b;
        border: 2px solid #1b1b1b;
        padding-bottom: 15px;
        border-radius: 4px;
        padding: 1.5rem 2.5rem;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: space-around;
    }

    .nav-item-dropdown .icon-dropdown {
        font-size: 1rem;
        padding: 5px 12px;
        opacity: 1;
        transform: rotate(0deg);
    }

    @keyframes iconRotateIn {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }

    @keyframes iconRotateOut {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    .nav-item-dropdown.open .icon-dropdown {
        animation: iconRotateIn 300ms forwards;
    }

    .nav-item-dropdown.close .icon-dropdown {
        animation: iconRotateOut 300ms forwards;
    }

    //
    // Widths for dropdown, depending if you have multiple cats

    .nav-drop-col-1 {
        width: 240px;
    }

    .nav-drop-col-1.nav-dropdown-contents .category {
        flex-basis: 80%;
    }

    .nav-drop-col-2 {
        width: 480px;
    }

    .nav-drop-col-3 {
        width: 780px;
    }
}
