.players 
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.recent-games 
{
    width: 100%;
}

.player-detail-rank 
{
    @extend .player-rank;
    width: 100%;
    justify-content: space-around;
}

.player-detail-rank .player-name > h3
{
    @media(min-width: $lg-width)
    {
        font-size: 1.6rem;
    }
    line-height: 1;
}

.player-detail-rank .rank
{
    position: static;
    right: auto;
    top: auto;
    padding: 0 20px 0 0;
    font-size: 2rem;

    @media(min-width: $lg-width)
    {
        font-size: 2.5rem;
        width: 110px;
    }
}

.player-detail-rank .player-badge 
{
    width: 35px;
    @media(min-width: $xl-width)
    {
        width: 65px;
    }
}

.player-detail-rank .faction
{
    position: absolute;
    top: 0;
    right: 0;

    @media(min-width: $xl-width)
    {
        position: relative;
    }
}

.player-detail-rank .faction > img 
{
    height: 15px;
    @media(min-width: $xl-width)
    {
        height: 50px;
    }
}

.game-status
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;

    @media(min-width:$lg-width)
    {
        position: relative;
        padding: 0;
    }
}

.game-status h3 
{
    font-size: 1rem;
    margin: 0;

    @media(min-width: $lg-width)
    {
        font-size: 1.6rem;
    }
}

.game-status.lost-game h3 
{
    color: #c70000;
}

.game-status.won-game h3 
{
    color: #ffffff;
}

.tiberian-dawn  .game-status.won-game h3 
{
    color: #08ea00;
}

.tiberian-dawn .player-detail-rank
{
    background: #0e0e0e;
    border: 1px solid #2d2d2d;
}

.red-alert .player-detail-rank
{
    background: #300405;
    border: 1px solid #570708;
}

.player-detail-rank
{
    border-radius: 4px;
    padding: 15px;
    height: 100px;
}

.player-detail-rank .details 
{
    width: 80%;
    @media(min-width: $lg-width)
    {
        width: auto;
    }
}


.player 
{
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.recent-game 
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    position: relative;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.red-alert .game-details 
{
    background: rgba(48, 4, 5, 0.91);
}

.tiberian-dawn .game-details 
{
    background: rgba(0, 0, 0, 0.6);
}

.map-preview .game-details 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    font-size: 0.9rem;
    word-break: break-all;
}

.player.won-game .player-detail-rank 
{
    border: 1px solid #ad0004;
    background: #860508;

    &:hover{
        background: lighten(#860508, 5%);
    }
}

.tiberian-dawn .player.won-game .player-detail-rank 
{
    border: 1px solid #04b300;
    background: #023e00;

    &:hover{
        background: lighten(#023e00, 5%);
    }
}

.leaderboard-profile-detail .leaderboard-header .player-stats
{
    margin-top: 10px;
    font-size: 1.4rem;
    justify-content: center;
    color: $color-gold;
    
    @media(min-width:$xl-width)
    {
        justify-content: flex-start;
    }
}

.tiberian-dawn.leaderboard-profile-detail .leaderboard-header .player-stats
{
    color: #fff6e0;
}

.leaderboard-profile-detail .leaderboard-header 
{
    padding-bottom: 50px;
}

.leaderboard-profile-detail .statistics 
{
    margin-right: auto;
}