.stat-game-box 
{
    display: flex;
    flex-direction: column;
    background: #212121;
    padding: 25px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
    flex-grow: 1;
    
    @media(min-width: $lg-width)
    {
        width: 22%;
    }
}

.stat-game-box .stats-container 
{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}

.stat-game-box .service-link 
{
    color: #ffffff;
    font-weight: bold;
    background: #373737;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    transition: ease all 350ms;

    &:hover 
    {
        background: #585858;
    }
}

.stat-game-box .how-to-play 
{
    display: flex;
    justify-content: center;
}

.stat-game-box-logo 
{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    & img 
    {
        width: 200px;
        max-width: 100%;
    }
}

.stat-game-box .buttons 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-game-box .how-to-play .btn 
{
    padding: 0.5rem;
}

.stat-game-box .stat-game-online-count
{
    text-align: center;
    font-size: 1.1rem;
    margin: auto;
    padding-bottom: 1rem;
}

.stat-game-box .stat-game-online-count strong 
{
    font-size: 1.3rem;
}

.stat-game-box .stat-game-online-count small 
{
    font-size: 0.95rem;
    color: #797979;
}

.stat-game--image-cncnet5_mo img,
.stat-game--image-cncnet5_rr img,
.stat-game--image-openra_ra img,
.stat-game--image-openra_cnc img,
.stat-game--image-cncnet5_dta img,
.stat-game--image-ia img,
.stat-game--image-ra3 img,
.stat-game--image-cncnet5_ti img,
.stat-game--image-apb img
{
    width: 250px;
}

.stat-game--image-renegadex img
{
    width: 300px;
}