
.twitch-streams 
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.twitch-streams .items-wrap
{
    width: 100%;
}

.twitch-streams .twitch-embed
{
    background: #101010;
    margin-bottom: 15px;
    margin-right: 15px;

    @media(min-width: $md-width)
    {
        flex-basis: 45%;
    }

    @media(min-width: $xxl-width)
    {
        flex-basis: 20vw;
        max-width: 100%;
        flex-grow: 0;
    }
}

.twitch-streams .stream-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #101010;
    padding: 15px 20px;
}

.twitch-streams .item .description 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;

    & p { 
        margin: 0;
        font-size: 0.9rem;
        color: silver;
        font-weight: 600;
     }
}

.twitch-games-navbar
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: center;
    margin: 0 auto;

    @media(min-width: $lg-width)
    {
        width: 70vw;
    }

    @media(min-width: $xxl-width)
    {
        width: 50vw;
    }
}

.twitch-games-navbar .twitch-game-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #0e0e0e;
    color: #545454;
    border-radius: 10px;
    margin: 8px;
    position: relative;
    @extend .font-secondary;
    text-transform: uppercase;
}

.twitch-games-navbar .count 
{
    @extend %notification-balloon;
    opacity: 1;
    background: #2f2f2f;
}

.twitch-games-navbar .twitch-game-link.live 
{
    color: $color-white;
    transition: color ease-in-out 300ms;
}

.twitch-games-navbar .twitch-game-link.live .count 
{
    background: #008617;
    color: $color-white;
}

.twitch-games-navbar .twitch-game-link.active
{
    background: #9c0101;
    color: $color-white;
}

.stream-listings 
{
    background-color: #080808;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.stream-listings .buttons 
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.stream-header .stream-title > h3
{
    font-size: 1.3rem;
    margin: 0;
}

.stream-header .viewer-count 
{
    padding: 5px;
    background: green;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}